@using System.Globalization;
@page "/home"
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Home</PageTitle>
<!--if there is no name present in DB, Partner will be displayed instead of the user's name-->
<h1 style="text-align: center; padding-bottom: 50px;">
    @if (string.IsNullOrWhiteSpace(userFirstName) && string.IsNullOrWhiteSpace(userLastName))
    {
        <text>Howdy Partner!</text>
    }
    else
    {
        <text>Howdy @userFirstName @userLastName!</text>
    }
</h1>

<div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; text-align: center;">

    <!-- Monthly Budget Total -->
    <Card Style="flex: 1 1 calc(100% - 20px); max-width: 300px; margin: 10px;">
        <CardBody Style="text-align: center;">

            <CardTitle>@monthlyBudgetTotal.ToString("C") / @monthlyIncome.ToString("C")</CardTitle>
            <CardSubTitle Class="mb-2 text-muted">Allocated Funds / Total Monthly Budget</CardSubTitle>
        </CardBody>
    </Card>

    <!-- Monthly Total Spent -->
    <Card Style="flex: 1 1 calc(100% - 20px); max-width: 300px; margin: 10px;">
        <CardBody Style="text-align: center;">

            <CardTitle>@monthlyTotalSpent.ToString("C")</CardTitle>
            <CardSubTitle Class="mb-2 text-muted">Monthly Total Spent</CardSubTitle>
        </CardBody>
    </Card>

    <!-- Over Monthly Budget -->
    <Card Style="flex: 1 1 calc(100% - 20px); max-width: 300px; margin: 10px;">
        <CardBody Style="text-align: center;">
            <CardTitle>@overMonthlyBudget.ToString("C")</CardTitle>
            <CardSubTitle Class="mb-2 text-muted">Over Monthly Budget</CardSubTitle>
        </CardBody>
    </Card>
</div>


<!--List of Recent Transactions (rendering issues)-->
<div style="padding-top: 50px;">
    <h3 style="padding: 20px">Recent Transactions</h3>
    @if(user is not null)
    {
    <Grid TItem="UserTransaction"
          Class="table table-hover table-bordered table-striped"
          DataProvider="TransactionsDataProvider">
        <GridColumns>
            <GridColumn TItem="UserTransaction" HeaderText="Date" HeaderTextAlignment="Alignment.Center">
                @context.TransactionDateTime.ToShortDateString()
            </GridColumn>
            <GridColumn TItem="UserTransaction" HeaderText="Label">
                @context.TransactionLabel
            </GridColumn>
            <GridColumn TItem="UserTransaction" HeaderText="Label" SortKeySelector="item => item.TransactionAmt">
                @context.TransactionAmt.ToString("C", CultureInfo.CreateSpecificCulture(@user.UserLocale))
            </GridColumn>
            <GridColumn TItem="UserTransaction" HeaderText="Category" HeaderTextAlignment="Alignment.Center">
                @context.TransactionCategory
            </GridColumn>
        </GridColumns>
    </Grid>
    }
</div>


<!--Donut Chart-->
<div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <Card Style="max-width: 500px; height: 150px; margin: 10px; display: flex; align-items: center; justify-content: center;">
        <CardBody Style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
            <p style="margin: 0;"><b>Outer Ring</b> = Amount Spent</p>
            <p style="margin: 0;"><b>Inner Ring</b> = Amount Remaining</p>
        </CardBody>
    </Card>
    <DoughnutChart @ref="doughnutChart" Width="500" />
</div>