@page "/settings"
@rendermode InteractiveServer

<PageTitle>User Settings</PageTitle>

<div class="d-flex flex-row justify-content-center align-items-center gap-5">
    @* TODO: change AvatarColor back to UserAvatarColor instead of selectedColor *@
    <ProfileAvatar UserFName="@UserFName" AvatarColor="@selectedColor" Size="large"/>
    <h1>User settings</h1>
</div>

<div class="d-flex flex-column p-2 m-2">
    <EditForm Model="@ud">
        <h5 class="mt-4">Name:</h5>
        <div class="d-flex flex-row judtify-content-center align-items-center gap-2">
            <input class="p-1" id="name" disabled="@disableName" @bind="userNameInput"/>
            <label for="name">
                <Button Type="ButtonType.Button" Color="ButtonColor.None" Size="ButtonSize.Small" @onclick="ToggleEditName">
                    @if (disableName){
                        <Icon Name="IconName.Pencil" Color="IconColor.Primary"/>   
                    }
                    else{
                        <Icon Name="IconName.CheckLg" Color="IconColor.Primary"/>
                    }
                </Button>
            </label>
        </div>


        <h5 class="mt-4">Email:</h5>
        <div class="d-flex flex-row judtify-content-center align-items-center gap-2">
            <input type="email" class="p-1" id="email" disabled="@disableEmail" @bind="userEmailInput"/>
            <label for="email">
                <Button Type="ButtonType.Button" Color="ButtonColor.None" Size="ButtonSize.Small" @onclick="ToggleEditEmail">
                    @if (disableEmail){
                        <Icon Name="IconName.Pencil" Color="IconColor.Primary"/>   
                    }
                    else{
                        <Icon Name="IconName.CheckLg" Color="IconColor.Primary"/>
                    }
                </Button>
            </label>
        </div>
        
        <div class="mt-4 mb-4">
            <Button Color="ButtonColor.Primary" @onclick=ChangeAvatar Type="ButtonType.Button">Change avatar color</Button>
        </div>

        <h5 class="mt-4">Currency Type:</h5>
        <select class="mt-1 mb-1 p-1" @bind='userLocaleInput'>
            <option value="en-US">US Dollar (USD)</option>
            <option value="es-MX">Mexican Peso (MXN)</option>
            <option value="en-EU">European Euro (EUR)</option>
            <option value="en-GB">Pound Sterling (GBP)</option>
        </select>
        
        <Switch @bind-Value=darkModeInput Label="Dark mode" class="my-4"/>

        <div class="my-4">
            <Button Color="ButtonColor.Primary" To="/change-password" Type="ButtonType.Link">Change password</Button>
        </div>
        <div class="my-4">
            <Button Color="ButtonColor.Danger" @onclick=DeleteAccount>Delete account</Button>
        </div>
        <hr class="solid">
        <div class="my-2">
            <Button Color="ButtonColor.Primary" Type="ButtonType.Submit" @onclick=SaveChanges>Save</Button>
        </div>
    </EditForm>
</div>

@* Change avatar color popup *@
<Modal @ref="avtrclr" Title="Change avatar color">
    <BodyTemplate>
        <h5 class="my-2">Choose a color:</h5>
        <div class="d-flex ">
            @foreach (var col in colors){
                bool selected = false;
                ButtonColor btnclr = ButtonColor.None;
                @if (col == selectedColor){
                   selected = true;
                   btnclr = ButtonColor.Primary;
                }
                else {
                   selected = false;
                   btnclr = ButtonColor.None;
                }
                <Button Type="ButtonType.Button" Color="@btnclr" Outline="@selected" @onclick="() => SelectColor(col)">
                    <ProfileAvatar Size="small" AvatarColor="@col" />
                </Button>
            }
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="CancelChangeAvatar">Cancel</Button>
        <Button Color="ButtonColor.Primary" @onclick=ChooseChangeAvatar>Choose</Button>
    </FooterTemplate>
</Modal>

@* Delete account popup *@
<Modal @ref="dltacct" Title="Delete account">
    <BodyTemplate>
        Are you sure you want to delete your account? This will wipe all of your data and is not reversible. <br>
        Please type your username to confirm account deletion:
        <input type="text" @bind=usernameConfirmationInput class="mt-2"/>
        @if (usernameConfirmationInput != UserScreenname){
            <p style="color: red;">Username does not match.</p>
            disableDelete = true;
        }
        else {
            disableDelete = false;
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="CancelDeleteAccount">Close</Button>
        <Button Color="ButtonColor.Danger" @onclick=DeleteAccountProcedure Disabled=@disableDelete>Delete account</Button>
    </FooterTemplate>
</Modal>


