@using BAR.Data;
@using BAR.Data.Models;
@using BAR.Data.Services;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Identity;
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;
@inject ITransaction TransactionManager;
@inject UserManager<ApplicationUser> UserManager;
@inject ApplicationDbContext dbContext;
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row d-flex flex-row mb-3 justify-content-between align-items-center">
    <div class="p-2">
        @if(UserFName is not null){
            imageRedir = "/home";
        }
        else{
            imageRedir = "/";
        }
        <a href="@imageRedir">
            <img src="/Images/Smooth-BAR-Logo-100.png">
        </a>
    </div>
    <div class="center-col p-2">
        <AuthorizeView>
            <Authorized>
                <div class="add"> 
                    <Button Color="ButtonColor.Success" @onclick=AddNewTransaction> + Add Transaction</Button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="p-2 register">
                    <Button Type="ButtonType.Link" To="Account/Register" Color="ButtonColor.Success">
                        Register
                    </Button>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="p-2">
        <AuthorizeView>
            <Authorized>
                <div class="p-2"> 
                    <Dropdown Color="DropdownColor.None" Style="background-color: white;">
                        <DropdownToggleButton>
                            <ProfileAvatar UserFName="@UserFName" AvatarColor="@AvatarColor" Size="profile-avatar"/>
                        </DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownHeader>Hi, @UserFName!</DropdownHeader>
                            <DropdownItem To="/Account/Manage" Type="DropdownItemType.Link"><Icon Name="IconName.Gear"/> Settings</DropdownItem>
                            <DropdownDivider>Dropdown header</DropdownDivider>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button class="btn dropdown-item" type="submit">
                                <Icon Name="IconName.BoxArrowRight" Color="IconColor.Danger"/> Log out
                                </button>
                            </form>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="p-2">
                    <Button Type="ButtonType.Link" To="Account/Login" Color="ButtonColor.Primary">
                        Login
                    </Button>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@* Add Transaction popup *@
<Modal ref="addmodal" Title="Add Transaction">
    <BodyTemplate>
        Date:
        <div class="mb-3">
            <DateInput TValue="DateOnly" @bind-Value="@date" Placeholder="Enter Date" />
        </div>
        <div class="mb-3">Entered date: @date</div>
        Label:
        <input type="text" class="mt-2" @bind-value="label" /> <br>
        Amount:
        <input type="text" class="mt-2" @bind-value="amount" /> <br> <br>
        Category:
        <Dropdown Color="DropdownColor.Secondary">
            <DropdownToggleButton @bind-Value="@category">Add Category</DropdownToggleButton>
            <DropdownMenu>
                <DropdownItem To="#" Type="DropdownItemType.Link">Housing</DropdownItem>
                <DropdownItem To="#" Type="DropdownItemType.Link">Food</DropdownItem>
                <DropdownItem To="#" Type="DropdownItemType.Link">ETC</DropdownItem>
            </DropdownMenu>
        </Dropdown> <br>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onClick="AddFromModal">Add</Button>
        <Button Color="ButtonColor.Secondary" @onClick="CancelAddTransaction">Cancel</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter] public string UserFName {get; set;} 
    [Parameter] public string AvatarColor {get; set;}
    private Modal addmodal;
    private string? currentUrl;
    private string imageRedir;
    private string category;
    private string label;
    private decimal amount;
    private DateOnly date;
    private ApplicationUser user = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            user = await UserManager.GetUserAsync(authState.User);
        }
    }

    private async Task AddFromModal()
    {
        UserTransaction transaction = new UserTransaction();
        transaction.TransactionDateOnly = date;
        transaction.TransactionLabel = label;
        transaction.TransactionAmt = amount;
        transaction.TransactionCategory = category;

        transaction.UserId = user.Id;
        transaction.User = user;

        await TransactionManager.AddTransaction(transaction);
    }

    private async Task AddNewTransaction()
    {
        await addmodal?.ShowAsync();
    }

    private async Task CancelAddTransaction()
    {
        await addmodal?.HideAsync();
    }

    private DateOnly date1 = DateOnly.FromDateTime(DateTime.Now.AddDays(0));
    
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    // Vars
    // database stuff still tbd
}



    


