@page "/trends"

@using BAR.Data
@using BAR.Data.Services
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Trends</PageTitle>

<div class="container">
    <h1 style="text-align: center; padding-bottom: 50px;">Trends</h1>
    <div class="row align-items-center"> 
        @*three biggest transactions of the month*@
        <div style="padding-top: 50px;" class="col-md-6">
            <h3>3 Biggest Transactions of the Month</h3>
            <Grid TItem="UserTransaction"
                Class="table table-hover table-bordered table-striped"
                DataProvider="TransactionsDataProvider">
                <GridColumns>
                    <GridColumn TItem="UserTransaction" HeaderText="Date" HeaderTextAlignment="Alignment.Center">
                        @context.TransactionDateTime.ToShortDateString()
                    </GridColumn>
                    <GridColumn TItem="UserTransaction" HeaderText="Label">
                        @context.TransactionLabel
                    </GridColumn>
                    <GridColumn TItem="UserTransaction" HeaderText="Amount" HeaderTextAlignment="Alignment.Center">
                        @context.TransactionAmt.ToString("C", CultureInfo.CreateSpecificCulture(@user.UserLocale))
                    </GridColumn>
                    <GridColumn TItem="UserTransaction" HeaderText="Category" HeaderTextAlignment="Alignment.Center">
                        @context.TransactionCategory
                    </GridColumn>
                </GridColumns>
            </Grid>
        </div> <br> <br>

        @*amount spent per category average (6 months) *@
        <BarChart class="col-md-6" @ref="avgsBarChart" Width="500" Height="300" /> <br>
    </div>

    <div class="row align-items-center">
        @*total spending by month*@
        <LineChart class="col-md-6" @ref="totalByMonth" Width="600" Height="300"/> <br>

        @*projections from last month*@
        <LineChart class="col-md-6" @ref="projectionsChart" Width="600" Height="300"/> <br>
    </div>

</div>
